@using System.Linq
@using RealEstateAgent.Web.Models
@using RealEstateAgent.Web.Helpers

@inherits Umbraco.Web.Mvc.UmbracoViewPage<PropertiesContentModel>
@{
    Layout = "Master.cshtml";

    var fallBackPageSize = 3;
    var pageNumber = QueryStringHelper.GetIntFromQueryString(Request, "page", 1);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", fallBackPageSize);
    var pageOfProperties = Model.Properties.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = Model.Properties.Count();

    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Properties</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Properties</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="features" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <small>All Awesome Property Details</small>
                <h3>Property Details</h3>
                <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
            </div><!-- end col -->
        </div><!-- end title -->

        <hr class="invis">

        <div class="row">

            @Html.Partial("SearchForm", Model.PropertiesFilterViewModel)

            <br />

            @foreach (var property in pageOfProperties)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="property-main">
                            <div class="property-wrap">
                                <figure class="post-media wow fadeIn">
                                    @{
                                        var propertyImages = property.PropertyImages;

                                        IEnumerable<MediaWithCrops> children = new List<MediaWithCrops>();

                                        if (propertyImages != null)
                                        {
                                            children = propertyImages.Where(x => x.ContentType.Alias.ToLower() == "image").ToList();
                                        }

                                        string imagePath = string.Empty;
                                        imagePath = propertyImages != null ? children.FirstOrDefault().Url() : Path.GetFullPath("/uploads/NoImage.png");
                                    }
                                    <a href="@Url.SurfaceAction("MediaPickerGallery", "PropertiesSurface", new { propId = property.Id })" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                                    <img src=@imagePath alt="" class="img-responsive">
                                    <div class="label-inner">
                                        <span class="label-status label">Popular</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-sub-price">$@property.PropertyPrice</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3>@property.PropertyName</h3>
                                    <div class="info">
                                        <div class="info">
                                            <p><span>Bedroom: @property.NumberOfBedrooms</span> <span>Bathroom: @property.NumberOfBathrooms</span> <span>Land Size: <span class="estate-x-size">@property.PropertySize m2</span></span>
                                            <p>House</p>
                                        </div>
                                    </div>
                                    <div class="adderess">
                                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                                        @property.PropertyAddress
                                    </div>
                                </div>
                            </div>
                            <div class="item-foot">
                                <div class="pull-left">
                                    <span class="prop-user-agent">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        @property.PropertyOwner
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <span class="prop-date">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        @property.LastPosted months ago
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!-- end service -->
                </div>
            }
        </div><!-- end row -->

        <div class="row">
            <div id="paging" class="clearfix">
                @if (pageCount > 1)
                {
                    <div class="paging-block">
                        @if (pageNumber > 1)
                        {
                            <a class="btn btn-primary float" href="@($"{Model.Content.Url()}?page={pageNumber - 1}&size={pageSize}")">Prev</a>
                        }
                        else
                        {
                            @Html.Raw("&nbsp;")
                        }
                    </div>
                    <div class="paging-block text-center">
                        <span>Page @pageNumber of @pageCount</span>
                    </div>
                    <div class="paging-block">
                        @if (pageNumber < pageCount)
                        {
                            <a class="btn btn-primary float" href="@($"{Model.Content.Url()}?page={pageNumber + 1}&size={pageSize}")">Next</a>
                        }
                        else
                        {
                            @Html.Raw("&nbsp;")
                        }
                    </div>

                }
                else
                {
                    <a class="btn btn-primary float-right" href="@(Model.Content.Url())">View all</a>
                }
            </div>
        </div>

        <hr />
        <div class="fa-border">
           @Html.Partial("AsyncSearch")
        </div>
    </div><!-- end container -->
</div><!-- end section -->

